<div class='page'>
<div class='form-control'>
<%= form_for @item do |f| %>
<div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
</div>
<div class='form-group'>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
</div>
    <%= f.hidden_field :completed, value: false %>
    <%= f.hidden_field :place_name, id: 'place_name' %>
    <%= f.hidden_field :address, id: 'address' %>
    <%= f.hidden_field :latitude, id: 'latitude' %>
    <%= f.hidden_field :longitude, id: 'longitude' %>
    <%= f.submit id: 'create_item', class: 'btn btn-primary'%>
  <% end %>
</div>
</div>

<script>
  document.getElementById('create_item').addEventListener('click', function(){
    $('#place_name').val(gName);
    $('#address').val(formattedAddress);
    $('#latitude').val(placeLat);
    $('#longitude').val(placeLng);
  });
</script>
