<% if @items.any? %>
  <% @items.each do |item| %>
    <h3>
      <input type="checkbox" class="item-check" name="<%= item.name %>" value="<%= item.name %>" id="<%= item.id %>" <%= item.completed ? "checked" : "unchecked" %> >
      <%= link_to item.name, item_path(item) %>
    </h3>

    <%= item.description %>
    <br>
    You are <%= item.distance_from(@user_position).round(2) %> miles away from this item.
    <br />
    <%= link_to "Edit #{item.name}", edit_item_path(item) %>
    <br>
    <%= link_to "Delete #{item.name}", item_path(item), method: :delete %>
  <% end %>

<% else %>
  No items yet
<% end %>


<p><a href= "<%= new_item_path %>">Add an item</a></p>
