



<% if @items.any? %>
  <% @items.each do |item| %>
      <h2> <%= check_box_tag item.id, item.name, item.completed, class: "item-check" %>
      <%= link_to item.name, item_path(item) %> </h2>


      <%= item.description %>
      <br>
      <%= link_to "Edit #{item.name}", edit_item_path(item) %>
      <br>
      <%= link_to "Delete #{item.name}", item_path(item), method: :delete %>
  <% end %>
  <% else %>
    No items yet
  <% end %>


<p><a href= "<%= new_item_path %>">Add an item</a></p>

<!-- <script src="/item.js"></script> -->


<script>
$(".item-check").bind("change", function(){
  $.ajax({
    url: "/items/"+this.id+"/toggle",
    type: "POST"
  })
})
</script>
