<div class="container-full"> </div>
<div id='heading' style='font-size: 20px; margin-left: 15px;'>Item Location</div>
   <div class="form-control">
  <div id=item-card>
    <div id="show-item-description-container">
    <b>  <div id='item-name'> <%= @item.name %> </div> </b>
      <div id='item-description'> <%= @item.description %> </div>
      <div id='place-name'> <%= @item.place_name %> </div>
      <div id='place-address'> <%= @item.address %> </div>
    </div>
  </div>
</div>

</div>

<br>
  <div id="direction-button" style="width: 150px; margin-left: 15px;"type="button" value="directions">Show Directions</div>
  <div id="no-direction-map"></div>
  <div id="show-map"></div>


<script>
  var itemLatitude = <%= @item.latitude %>;
  var itemLongitude = <%= @item.longitude %>;
  initMap();

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUu8pN7l0vL1M1VSN0SApzCoL8OYYFoLw&callback=initMap" async defer></script>
