<div class="container-full">
  <div id=item-card>
    <div id="show-item-description-container">
      <div id='item-name'> <%= @item.name %> </div>
      <div id='item-description'> <%= @item.description %> </div>
      <div id='place-name'> <%= @item.place_name %> </div>
      <div id='place-address'> <%= @item.address %> </div>
    </div>
  </div>
</div>

  <div id='show-item-buttons'>
    <p> <%= link_to "Edit #{@item.name}", edit_item_path(@item) %>
    <p> <%= link_to "Delete #{@item.name}", item_path(@item), method: :delete %>
    <p> <%= link_to "Back to checklist", items_path  %>
  </div>
</div>
  <div id="direction-button" type="button" value="directions">Show Directions</div>
  <div id="no-direction-map"></div>
  <div id="show-map"></div>


<script>
  var button = document.getElementById('direction-button');
  var itemLatitude = <%= @item.latitude %>;
  var itemLongitude = <%= @item.longitude %>;
  initMap()

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUu8pN7l0vL1M1VSN0SApzCoL8OYYFoLw&callback=initMap" async defer></script>
