<div id='heading' style='font-size: 20px; margin-left: 15px;'>Item Location</div>
   <div class="form-control">
  <div id=item-card>
    <div id="show-item-description-container">
    <b>
      <br />
      <div id='item-name'> <h5><strong><%= @item.name %></strong></h5> </div> </b>
      <br />
      <div id='item-description'> <h6><%= @item.description %></h6> </div>
      <div id='place-name'> <%= @item.place_name %> </div>
      <div id='place-address'> <%= @item.address %> </div>
    </div>
  </div>
</div>

</div>

<br>
<button id="direction-button" type="button" value="directions" class='btn btn-primary'>Show Directions</button>
  <div id="no-direction-map"></div>
  <div id="show-map"></div>


<script>
  var itemLatitude = <%= @item.latitude %>;
  var itemLongitude = <%= @item.longitude %>;
  initMap();

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUu8pN7l0vL1M1VSN0SApzCoL8OYYFoLw&callback=initMap" async defer></script>
