<br> <br> <center><div class="container-full">
  <div id=item-card>
    <div id="show-item-description-container">
      <b> <div id='item-name'> <%= @item.name %> </div> </b>
      <div id='item-description'> <%= @item.description %> </div>
      <div id='place-name'> <%= @item.place_name %> </div>
      <div id='place-address'> <%= @item.address %> </div>
    </div>
  </div>
</div> </center>


<div id="show-map"></div>
<script>
  var itemLat = <%= @item.latitude %>;
  var itemLng = <%= @item.longitude %>;

  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('show-map'), {
      center: {
        lat: itemLat,
        lng: itemLng
      },
      zoom: 15
    });

    var youIcon = 'https://s31.postimg.org/m9bv4fq7f/you_icon.png';
    var itemIcon = 'https://s32.postimg.org/loajgnlg5/item_icon.png';
    var myMarker = new google.maps.Marker({
      map: map,
      icon: youIcon,
    });

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            myLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            myMarker.setPosition(myLocation);
        });
    }


    var itemMarker = new google.maps.Marker({
      position: {
        lat: itemLat,
        lng: itemLng
      },
      map: map,
      icon: itemIcon
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUu8pN7l0vL1M1VSN0SApzCoL8OYYFoLw&callback=initMap" async defer></script>
