<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingListApp</title>
    <%= javascript_include_tag "https://www.atlasestateagents.co.uk/javascript/tether.min.js" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <br />
    <%= link_to "Checklist", items_path  %>
    <br />
    <%= link_to "Add an item", new_item_path %>
    <% end %>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
