<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingListApp</title>
    <%= javascript_include_tag "https://www.atlasestateagents.co.uk/javascript/tether.min.js" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <p id="user-coordinates"></p>
      <%= javascript_include_tag 'get_user_location.js' %>
      <%= javascript_include_tag 'get_item_location.js' %>
      <br/>

      <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <br/>
      <%= link_to "Checklist", items_path  %>
      <br/>
      <%= link_to "Add an item", new_item_path %>
      <% end %>

      <%= yield %>

      <% if notice %>
      <div class="alert alert-warning alert-dismissible fade in" role="notice">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= notice %>
      </div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= alert %>
      </div>
      <% end %>

    </div>
  </body>
</html>
