<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingListApp</title>
    <%= javascript_include_tag "https://www.atlasestateagents.co.uk/javascript/tether.min.js" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if user_signed_in? %>
      <div class="container-full">
      <nav class="navbar navbar-light bg-faded navbar-fixed-top text-xs-right">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">&#9776;</button>
          <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
              <ul class="nav navbar-nav">
                <p></p>
                <li class="nav-item">
                  <%= link_to "See list", items_path, class: "nav-link"  %>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">About us</a>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              </ul>
          </div>
        </nav>
      <% end %>

      <br />
      <br />
      <br />
      <a href="<%= new_item_path %>"> <i class="fa fa-plus-circle fa-4x"></i></a>

      <% if notice %>
        <div class="alert alert-warning alert-dismissible fade in" role="notice">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </div>
      <% end %>
      <br />

      <%= yield %>

    </div>
  </body>
</html>
